a {
    text-decoration: none;
}

.list-berita {
    margin: auto;
    width: 75%;
    margin-top: 75px;
}

.berita {
    width: 450px;
    height: 450px;
    float: left;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 70px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 20px;
    background-color: #ffffff;
}

.berita:nth-of-type(even) {
    float: right;
    margin-left: 0;
    margin-right: 210px;
}

.berita:hover {
    background-color: #e0e0e0;
}

.berita:active {
    background-color: #ff6969;
    transform: translateY(4px);
}

.berita img {
    position: relative;
    width: 430px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

.berita a {
    text-decoration: none;
    color: black;
}

.berita p {
    margin-left: 5px;
}

.berita h2 {
    margin: 10px;
    font-weight: bold;
}

.upload-berita {
    margin: auto;
    width: 45%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 75px;
    overflow: hidden;
    padding: 20px;
}

.detail-berita {
    margin: auto;
    width: 45%;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 75px;
    overflow: hidden;
}

.detail-berita h1 {
    padding-left: 20px;
    padding-top: 15px;
}

.detail-berita p {
    padding-left: 20px;
}

.detail-berita img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}

.detail-berita pre {
    width: 100%;
    white-space: pre-wrap;
    font-size: 36px;
    font-family: sans-serif;
    border: 0;
}

.detail-berita a {
    text-decoration: none;
    color: black;
}

.back-tag {
    margin-top: 10px;
    margin-bottom: 50px;
    float: right;
    border: solid;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
}

.back-tag:hover {
    background-color: #ff6969;
}

.back-tag:active {
    background-color: #ff3b3b;
    transform: translateY(4px);
}

.back-tag p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    margin: unset;
    margin-top: 5px;
    padding: 0;
}

.page {
    text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ff3b3b;
    border-color: #ffffff;
    border: 0;
}

.pagination>li>a, .pagination>li>span {
    color: black;
}

.pagination>li:hover>a, .pagination>li>span {
    color: white;
    background-color: #ff6969;
}

.pagination>li:active>a {
    color: white;
    background-color: #ff3b3b;
    transform: translateY(4px);
}

.pagination span, .pagination a {
    margin: 0 20px;
    font-size: 22px;
    width: 45px;
}