{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Feedback Form</title> 
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
    <div class="jumbotron">
        <div class="container" id="jumbocontent">
        <h1 class="display-4"><b>FORM FEEDBACK</b></h1>
        <p class="lead">Isi kritik & saran kalian</p>
        <hr class="my-4">
        </div>
    </div>

    <main>
        <h1 id="titles">FEEDBACK</h1>
    </main>

    <main class="form">
        <div class="container">
        <section class="input">
            <form action="" method="POST" novalidate>
            {% csrf_token %}
            <br>
            <label class="Nama"><b>Nama</b></label>
            <section class="formnya">{{ user }}</section>
            <br>
            <label class="Email"><b>Email</b></label>
            <section class="formnya">{{ user.email }}</section>
            <br>
            <label class="Kritik"><b>Kritik/Saran</b></label>
            <section class="formnya">{{ status.Kritik }}</section>
            <br>
            <button type="submit" class="btn btn-danger">Kirim</button>
            </form>
        </section>
    </div>
    </main>

    <br><br>

    <table class="table-feedback">
        <thead class="thead-dark">
          <tr class="table-tr">
            <th scope="col" class="table-th">Nama</th>
            <th scope="col" class="table-th">Email</th>
            <th scope="col" class="table-th">Kritik & Saran</th>
          </tr>
        </thead>
        <tbody>
            {% for i in  form %}
            <tr class="table-tr">
                <th scope="row" class="table-th">{{i.Nama}}</a></th>
                <th scope="row" class="table-th">{{i.Email}}</a></th>
                <th scope="row" class="table-th">{{i.Kritik}}</a></th>
            </tr>
            {% endfor %}
        </tbody>

    <br><br>
{% endif %}

{% if not user.is_authenticated %}
<div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">

    <div class="flex flex-column"style="text-align: center;">
        <h1>
            Silahkan Login terlebih dahulu
        </h1>
        <div class="flex flex-row justify-content-around" style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}


