{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Thanks!</title> 
{% endblock meta %}

{% block content %}
    <div class="response">
        <h1>Thanks for your response.</h1>
        <h1><a href="{{ feedback_form }}">Response again?</a></h1>
    </div>
    
{% endblock %}

