<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    {% block meta %}
    {% endblock meta %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if request.get_full_path == "/" %}
                <a class="navbar-brand" href="/"><img src="/static/images/CORONFRONT.png"><br/></a>
                {% else %}
                <a class="navbar-brand" href="/"><img src="/static/images/cf.png"><br/></a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if user.is_authenticated %}
                    {% if request.get_full_path == "/form/" %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/upload" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/feedback" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/edukasi/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li class="active"><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/contacts" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li class="active"><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Berita
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/berita/">Baca Berita</a></li>
                                <li><a href="/berita/upload">Tambah Berita</a></li>
                            </ul>
                        </li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% endif %}
                {% else %}
                    {% if request.get_full_path == "/form/" %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li class="active"><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/berita/upload" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/feedback" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li class="active"><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/edukasi/" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li class="active"><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% elif request.get_full_path == "/contacts" %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li class="active"><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="/form">Form Pendataan</a></li>
                        <li><a href="/berita/">Berita</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/edukasi">Edukasi</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                    {% endif %}
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Halo {{ user.get_username }}</a></li>
                    <li><a href="/form/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        {% if request.get_full_path == "/user/register" %}
                        <li class="active"><a href="/form/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/form/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        {% elif request.get_full_path == "/user/login/" %}
                        <li><a href="/form/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li class="active"><a href="/form/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                        {% else %}
                        <li><a href="/form/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/form/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="content-wrap">
            {% block content %}
            {% endblock  %}
        </div>
        <div style="clear: both;"></div>
        <footer>&#169 2020 Coronfront</footer>
    </div>
</body>
</html>