{% extends 'base.html' %}

{% block meta %}
    <title>Contacts</title>

    <style>
        #list {
            display: table;
            margin: 0 auto;
        }


        #medsos ul {
            list-style-type: none;
        }

        #medsos ul li {
            float: left;
            margin: 0 5px;
        }

        #medsos ul li img {
            height: 60px;
        }

        img.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

    </style>
{% endblock meta %}

{% block content %}
    <div id="medsos" class="center">
        <ul id="list">
            <li><a target="_blank" href="https://www.twitter.com"><img src="../static/images/twitter_black.png" title="Twitter"></a></li>
            <li><a target="_blank" href="https://www.instagram.com"><img src="../static/images/instagram_black.png" title="Instagram"></a></li>
            <li><a target="_blank" href="https://www.linkedin.com"><img src="../static/images/linkedin_black.png" title="Linkedin"></a></li>
        </ul>
    </div>
{% endblock content %}