{% extends 'base.html' %}

{% block meta %}
    <title>Coronfront</title>

    <style>
        .hometext {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh);
            margin-top: 5%;
        }

        .hometext h1 {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh); 
            color :#ff3b3b;
        }  
        h1:hover{
            text-shadow: 0 5px 20px #000000;
        }
    </style>

{% endblock meta %}

{% block content %}
    
{% if user.is_authenticated %}
<div style="font-family: Quicksand;" class=" justify-content-center flex align-items-center mt-4" >
    <div class="flex flex-column">
        <h1 style="text-align: center;">
            Selamat Datang, {{ user }}!
        </h1>
        <div class="flex flex-row justify-content-around"style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/logout">Logout</a></button>
        </div>

    </div>
</div>
{% endif %}

    <div class="hometext">
        <h1>GARDA TERDEPAN</h1>
        <h1>PENANGANAN COVID-19</h1>
    </div>

    <div class="selection-container">
          <div class="selection-wrapper">
            <div class="selection-slide">
              <div class="image-container">
                <div class="gallery-wrap wrap-effect">
                    <a href="/form" class="item"></a>
                    <a href="/berita" class="item"></a>
                    <a href="/feedback" class="item"></a>
                    <a href="/edukasi" class="item"></a>
                </div>
              </div>
            </div>
            
          </div>
        </div>

<script>
    const swiper = new Swiper('.selection-container', {
    direction: 'vertical',
    mousewheel: {},
    effect: 'cube',
    keyboard: {
        enabled: true,
        onlyInViewport: false
    }
    });
</script>
{% endblock content %}