{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Yuk Bertanya</title> 
{% endblock meta %}

{% block content %}
    <main>
        <h1 id="titles">YukTanya</h1>
    </main>
    {% if user.is_authenticated %}
    <main class="form">
        <div class="container">
        <section class="input">
            <form action="" method="POST" novalidate>
            {% csrf_token %}
            <br><br><br>
            <label class="Nama"><b>Nama</b></label>
            <section class="formnya">{{ status.namaPenanya }}</section>
            <br>
            <label class="Email"><b>Email</b></label>
            <section class="formnya">{{ status.emailPenanya }}</section>
            <br>
            <label class="Kritik"><b>Pertanyaan</b></label>
            <section class="formnya">{{ status.pertanyaan }}</section>
            <br>
            <button type="submit" class="btn btn-danger">Kirim</button>
            </form>
        </section>
    </div>
    </main>
    {% endif %}

    {% if not user.is_authenticated %}

    <div style="text-align: center;">
        <h1>
            Silahkan Login terlebih dahulu
        </h1>
        <div style="text-align: center;">
          <button type="button"class="btn btn-light"><a href="/form/login">Login</a></button>
        </div>

    </div>

{% endif %}
{% endblock %}


