{% extends 'base.html' %}

{% block meta %}
    <title>{{ berita.title }}</title>
{% endblock meta %}

{% block content %}
<div class="detail-berita">
    <h1>{{ berita.title }}</h1>
    <p>{{ berita.uploaded_at }}</p>
    <img src="/media/{{ berita.document }}">
    <pre>{{ berita.description }}</pre>
    <a style="text-decoration:none;" href="/berita/">
        <div class="back-tag">
            <p>Kembali</p>
        </div>
    </a>
</div>

<!-- {% if not user.is_authenticated %}
<div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">

    <div class="flex flex-column"style="text-align: center;">
        <h1>
            Silahkan Login terlebih dahulu
        </h1>
        <div class="flex flex-row justify-content-around" style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
        </div>

    </div>
</div>
{% endif %} -->

{% endblock content %}