{% extends 'base.html' %}

{% block meta %}
    <title>Berita Terkini COVID-19</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron">
    <div class="container" id="jumbocontent">
    <h1 class="display-4"><b>Berita Terkini</b></h1>
    <p class="lead"> Berita terkini COVID-19 di Indonesia </p>
    <hr class="my-4">
    </div>
</div>
<div class="list-berita">
    <div class="row">
        {% for berita in object_list %}
        <div class="col-lg-6 col-md-12">
            <div class="berita">
                <a href="{% url 'berita:detail' berita.pk  %}">
                    <img src="../media/{{ berita.document }}"><br/>
                    <p>{{ berita.uploaded_at }}<br/></p>
                    <h2>{{ berita.title }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

        {% if is_paginated %}
        <div style="clear: both;"></div>
        <div class="page">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
</div>

<!-- {% if not user.is_authenticated %}
<div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">

    <div class="flex flex-column"style="text-align: center;">
        <h1>
            Silahkan Login terlebih dahulu
        </h1>
        <div class="flex flex-row justify-content-around" style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
        </div>

    </div>
</div>
{% endif %} -->
{% endblock content %}