{% extends 'base.html' %}

{% block meta %}
    <title>Upload Berita</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
    <div class="upload-berita">
        <h1>Tambah Berita</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
{% endif %}

{% if not user.is_authenticated %}
<div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">

    <div class="flex flex-column"style="text-align: center;">
        <h1>
            Silahkan Login terlebih dahulu
        </h1>
        <div class="flex flex-row justify-content-around" style="text-align: center;">
          <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
        </div>

    </div>
</div>
{% endif %}
{% endblock content %}