{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tagss -->
        {% block meta %}
            <title>Form</title> 
        {% endblock meta %}
    </head>

   
    <body>
       
        {% block content %}
        {% if user.is_authenticated %}
        <div class="jumbotron">
            <div class="container" id="jumbocontent">
            <h1 class="display-4"><b>NGEDATA YUK!</b></h1>
            <p class="lead"> Bagi Temen-temen coronfront yang pernah mengalami Covid-19, isi  form di bawah ini yuk !! </p>
            <hr class="my-4">
            </div>
        </div>

        <main>
            <h1 id="judul">Form Berbagi Informasi Covid-19</h1>
        </main>

        <main class="form">
            <div class="container">
            <section class="input">
                <form action="" method="POST" novalidate>
                {% csrf_token %}
                <label class="Nama"><b>Nama</b></label>
                <section class="formnya"> {{ status.Nama }}</section>
                <br>
                <label class="Umur"><b>Umur</b></label>
                <section class="formnya">{{ status.Umur }}</section>
                <br>
                <label class="Aktivitas"><b>Aktivitas Sebelum Gejala</b></label>
                <section class="formnya">{{ status.AktivitasSebelumGejala }}</section>
                <br>
                <label class="Gejala"><b>Gejala </b></label>
                <section class="formnya">{{ status.Gejala }}</section>
                <br>
                <button type="submit" class="btn btn-danger">Kirim</button>
                </form>
            </section>
        </div>
        </main>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Umur</th>
                <th scope="col">Aktivitas sebelum gejala</th>
                <th scope="col">Gejala</th>
              </tr>
            </thead>
            <tbody>
              {% for i in  form %}
              <tr>
                <th scope="row">{{i.Nama}}</a></th>
                <th scope="row">{{i.Umur}} tahun</a></th>
                <th scope="row">{{i.AktivitasSebelumGejala}}</a></th>
                <th scope="row">{{i.Gejala}}</a></th>
              </tr>
              {% endfor %}
        </tbody>
        
        {% endif %}
        {% if not user.is_authenticated %}
        <div style="font-family: Quicksand;" class="justify-content-center flex align-items-center mt-5">
        
            <div class="flex flex-column"style="text-align: center;">
                <h1>
                    Silahkan Login terlebih dahulu
                </h1>
                <div class="flex flex-row justify-content-around" style="text-align: center;">
                  <button type="button" class="btn btn-outline-dark"><a href="/form/login">Login</a></button>
                </div>
        
            </div>
        </div>
        {% endif %}
    {% endblock %}
 

  
    </body>
    

 
</html>