{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    <title>Login</title>
    {% endblock meta %}
    
    

</head>

<body>
    {% block content %}
    <style>
        .logintext {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh);
            margin-top: 5%;
        }

        .logintext h1 {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh); 
            color :#ff3b3b;
        }  
        h1:hover{
            text-shadow: 0 5px 20px #000000;
        }
    </style>
<table>
        <form class="formLogin align-self-center" action="" method="POST">
            {% csrf_token %}
            <div class="logintext">
                <h1 id="login" style="text-align: center;" >LOGIN</h1>
            </div>
            <div>
                <h1>
                    <img >
                </h1>
            </div>
            <div class='login-box'>
            <div class="form-group">
                <label for="username">
                    {{form.username.label}}
                </label>
                {{form.username}}
            </div>
            <br>
            <div class="form-group">
                <label for="password">
                    {{form.password.label}}
                </label>
                {{form.password}}
            </div>
            <br>
                <input style="width: 20%;" class="align-self-center btn btn-dark" type="submit" id="submitButton" />
        </form>

        <div class="mb-5">
            <span style="font-size: .8em;"><a href="/form/register">Didn't have account?
                </a>
            </span>
        </div>
</table>
      



</div>
{% if status == 'failed' %}
<div>
    <h1 style="text-align: center;color:chartreuse">
        username atau password anda salah! <br> atau akun anda belum terdaftar
    </h1>
</div>
{% endif %}
{% endblock %}
</body>
</html>