{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    <title>Sign Up</title>
    {% endblock meta %}
</head>
<body>
    {% block content %}
    <style>
        .logintext {
            text-align: center;
            font-weight: bold;
            font-size: calc(100% + 1vw + 1vh);
            margin-top: 5%;
        }

        .logintext h1 {
            text-align: center;
            font-weight: bold;
            font-size: calc(80% + 1vw + 1vh); 
            color :#ff3b3b;
        }  
        h1:hover{
            text-shadow: 0 5px 20px #000000;
        }
    </style>
    <div class='login-box'>

    <form class=" align-self-center" action="" method="POST">
        <table>
        {% csrf_token %}
        <div class="logintext">
            <h1 style="text-align: center;">REGISTER</h1>
        </div>
        
        
        {{form}}
    </table>
            <button type="submit" id="submitButton" style="width: 40%;"><a href="/form/login">Submit</a></button>
    </form>

</div>
    </div>
    {% if form.errors %}
    <div class="error">
        <p><span>Terjadi Error!</span></p>
        <ul>
            {% for key,value in form.errors.items %} {% for error in value %}
            <li>{{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

    <br>
    <span style="font-size: .8em; text-align:center"><a href="/form/login">Have an account?
    </a>
</span>




{% endblock %}
</body>
</html>