@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.jumbotron{
    background-color: antiquewhite;
    background-image: url('../static/modelraihan/fotojumbotron.jpg');
}

#judul{
    text-align: center;
    font-weight: bold;
}



