body {
    font-family: sans-serif;
    color: black;
    margin-top: 0px;
    /* background-image: url(../images/Background-Covid.png); */
    scroll-behavior: smooth;
}

.selection-container {
    width: 100%;
    height: 90%;
}

.selection-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    padding: 75px 0;
    margin: 0 auto;
    width: 1350px;
}
.image-container .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}

.image-container .gallery-wrap .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: all 0.8s ease;
}

.image-container .gallery-wrap .item:hover {
    flex: 7;
}

.wrap-effect .item:first-of-type {
    background-image: url(../images/forms.gif);
}
.wrap-effect .item:nth-of-type(2) {
    background-image: url(../images/news.gif);
}
.wrap-effect .item:nth-of-type(3) {
    background-image: url(../images/feedback.gif);
}
.wrap-effect .item:last-of-type {
    background-image: url(../images/education.gif);
}

.navbar {
    border-radius: 25px;
    margin: 20px;
    background-color: #ff6969;
    color: black;
}

.navbar ul {
    font-size: 20px;
    color: black;
}

.navbar-default {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #ff3b3b;
}

.navbar-default .navbar-nav>:hover:not(.active) {
    background-color: #ff3b3b;
    transition: background-color .6s;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #ff4848;
}

.navbar img {
    margin-left: 5px;
    width: auto;
    height: -webkit-fill-available;
    object-fit: cover;
}

.content {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: #FF6969;
    font-size: 36px;
    text-align: center;
}

/* login */
.login-box {
    width: 15%;
    margin: auto;
}

/* modelraihan */

.jumbotron{
    background-color: #ff6969;
    border: 3px;
}

#judul{
    text-align: center;
    font-weight: bold;
}


/*Edukasi*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    float:right;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}
.card-logo > img{
    width: 250px;
    height: auto;
    float:left;
}

.col,.col-md-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
.col-md-3{
    float: left;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.flex-container {
    display: flex;
  }

.flex-container > div {
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
    width: 100%,
    
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}
.kanan{
    float: right;   
}

/* berita */

a{
    text-decoration: none;
}

.list-berita {
    margin: auto;
    width: 75%;
    margin-top: 75px;
}

.col-lg-6 {
    align-items: center;
}

.berita {
    margin: auto;
    width: 450px;
    height: 450px;
    margin-bottom: 70px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 20px;
    background-color: #ffffff;
}

.berita:hover {
    background-color: #e0e0e0;
}

.berita:active {
    background-color: #ff6969;
    transform: translateY(4px);
}

.berita img {
    position: relative;
    width: 430px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

.berita a {
    text-decoration: none;
    color: black;
}

.berita p {
    margin-left: 5px;
}

.berita h2 {
    margin: 10px;
    font-weight: bold;
}

.upload-berita {
    margin: auto;
    width: 45%;
    background-color: #fafbfc;
    border-radius: 10px;
    margin-top: 75px;
    overflow: hidden;
    padding: 20px;
}

.detail-berita {
    margin: auto;
    width: 45%;
    background-color: #fafbfc;
    border-radius: 10px;
    margin-top: 75px;
    overflow: hidden;
}

.detail-berita h1 {
    padding-left: 20px;
    padding-top: 15px;
}

.detail-berita p {
    padding-left: 20px;
}

.detail-berita img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    padding: 20px;
}

.detail-berita pre {
    width: 100%;
    white-space: pre-wrap;
    font-size: 24px;
    font-family: sans-serif;
    border: 0;
    background-color: #fafbfc;
}

.detail-berita a {
    text-decoration: none;
    color: black;
}

.back-tag {
    margin-top: 10px;
    margin-bottom: 50px;
    float: right;
    border: solid;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #ffffff;
}

.back-tag:hover {
    background-color: #ff6969;
}

.back-tag:active {
    background-color: #ff3b3b;
    transform: translateY(4px);
}

.back-tag p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    margin: unset;
    margin-top: 5px;
    padding: 0;
}

.page {
    text-align: center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ff3b3b;
    border-color: #ffffff;
    border: 0;
}

.pagination>li>a, .pagination>li>span {
    color: black;
}

.pagination>li:hover>a, .pagination>li>span {
    color: white;
    background-color: #ff6969;
}

.pagination>li:active>a {
    color: white;
    background-color: #ff3b3b;
    transform: translateY(4px);
}

.pagination span, .pagination a {
    margin: 0 20px;
    font-size: 22px;
    width: 45px;

}

/* feedback */

#titles {
    text-align: center;
    font-weight: bold;
    font-size: calc(100% + 1vw + 1vh);
}

.response {
    width:100%;
    margin-top: 25%;
}

.response h1 {
    margin: 0;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: calc(100% + 1vw + 1vh);
}

.table-feedback, .table-tr, .table-th {
    text-align: center;
    border: 1px solid black;
}

@media only screen and (max-width:1210px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}